<h1>
  InsideTrack's Test Application
</h1>
<h2>Invoices By Product</h2>
<div>
  <p-autoComplete
    [(ngModel)]="selectedProduct"
    [suggestions]="filteredProducts"
    (completeMethod)="search($event)"
    [dropdown]="true"
    (onSelect)="loadInvoicesByProduct($event)"
    field="name"
  ></p-autoComplete>
</div>

<div *ngFor="let invoice of invoices">
  <app-invoice [invoice]="invoice"></app-invoice>
</div>

<!--<div>-->
<!--  {{selectedProduct | json}}-->
<!--</div>-->

<!--<div>-->
<!--  {{invoices | json}}-->
<!--</div>-->
